In [6]:
#Exercise -1 
#Create two variables called name and age.
#Then create a variable called hello and print the name and the age. Use the formatted string literal

firstName = 'Mario'
print(firstName)

Mario

In [7]:
#Exercise -2
#Create an age variable and assign the value 25 to it.

age = 25
print(age)

25

In [8]:
#Exercise -3
#Create a sentence variable and assign the value Hello, I'm Mario! to it without using double quotes.

sentence =  '''Hello, I'm Mario!'''
print(sentence)

Hello, I'm Mario!

In [9]:

#Exercise -4
# Create an amount variable and assign a float value to it.

amount = float(4.5)
print(amount)

4.5

In [10]:
#Exercise -5
#Create a set of 3 variables and assign True as value of each one.

a = True
b = True
c = True

print(a,b,c)

True True True

In [11]:
#Exercise -6
#Remove the illegal characters in the variable 1my-first2_Name = 'Mario'.

my_first2_Name = 'Mario'
print(my_first2_Name)

Mario

In [12]:
#Exercise -7
# Write single quotes or double quotes correctly


print('''Hi,
my name is
John Doe
python''')

Hi,
my name is
John Doe
python

In [13]:
#Exercise -8
#Create 3 different variables and assign 3 different values. Write only one operation. Print them on terminal


a,b,c = 1,2,3

print(a+b+c)

6

In [14]:
#Exercise -9

# Swap the value of the variables


a = 12
b = 'Hello'

c=a
a=b
b=c
print(a,b)

Hello 12

In [15]:
#Exercise -10

# Print the length of each variable.

hello = 'Hello!'
name = 'Jhon Doe'
age = '40'

print(len(hello),len(name),len(age))

6 8 2

In [16]:
#Exercise -11

# Modify the variables as suggested
a = 'hello' #capitalize
b = 'tom' #uppercase
c = 'LAURA' #lowercase


question = 'How are you' #change o in e
age_question = 'How old are you?' #use the correct method to create a string for each word
print(a, b, c, question, age_question)




print(a.capitalize())
print(b.upper())
print(c.lower())

print(question.replace("o","e"))
print(age_question.split())
print(a.capitalize(),b.upper(),c.lower(),question.replace("o","e"),age_question.split())

hello tom LAURA How are you How old are you?
Hello
TOM
laura
Hew are yeu
['How', 'old', 'are', 'you?']
Hello TOM laura Hew are yeu ['How', 'old', 'are', 'you?']

In [17]:
#Exercise -12

#Create two variables called name and age.
#Then create a variable called hello and print the name and the age. Use the formatted string literal.

name = 'Ram'
age = 26
hello = 'hello'
print(f"Hello!, I am {name}, and my age is {age}")

Hello!, I am Ram, and my age is 26

In [18]:
#Exercise -13

# Insert the appropriate logical operator in order to print False

print(False >True)

False

In [19]:
#Exercise -14

#Change the logical operators in order to print True
# print(False and (0 != 0 or True)) # Should print True


print(False or (0 != 0 or True))

True

In [20]:
#Exercise -15

#Print the rest of the 5/2 division

print(5%2)

1

In [21]:
#Exercise -16

# Insert the appropriate logical operator in order to print True.

# print(not ("testing" == "testing" ... "Mario" == "Cool Guy")) # Should print True

print(not ("testing" == "testing" < "Mario" == "Cool Guy"))

True

In [22]:
#Exercise -17

# Initialize and print the sentence variable using the appropriate operators.
# print(sentence) # Should print "Mario Rossi"

firstName ="Mario"
lastName ="Rossi"

sentence = firstName +' '+ lastName

print(sentence)

Mario Rossi

In [23]:
#Exercise -18

# Check if "Nike" is in brands array using the appropriate logical operator

# print("Nike" ... brands) # Should print True

brands = ["Adidas", "Nike"]
print("Nike" in brands)

True

In [24]:
#Exercise -19
# print("Reebok" ... brands) # Should print True

brands = ["Adidas", "Nike"]

print(not"Reebok"in brands)

True

In [25]:
#Exercise -20

# With type command you can see the type of a variable in python 
# eg: type(1) print each components type with this way you can see most significant data types in python

print(type("Hello World"))
print(type(True))
print(type(False))
print(type(33))
print(type(24.5))
print(type(4+1j))
print(type(4j))
print(type(["lion", "monkey", "dog","fish"]))
print(type(("lion", "monkey", "dog","fish")))
print(type({"name" : "John", "surname" : "Doe", "age":22}))
print(type({"lion", "monkey", "dog","fish"}))

<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [26]:
#Exercise -21

# the number types can be converted to each other wit the int() float() complex() methods
# also float numbers can be rounded with the method round()

# convert num1 to float and assign to itself
# convert num2 to int and assign to itself
# convert num3 to complex and assign to itself
# use round method for num4 and assign to itself
# use round method for num5 and assign to itself
# print them all
# print their types

num1 = 1.3
num2 = 2.3
num3 = 1j 
num4 = 1.4 
num5 = 1.5

num1=float(num1)
num1
num2=int(num2)
num2
num3=complex(num3)
num3
num4=round(num4)
num4
num5=round(num5)
num5
print(num1,num2,num3,num4,num5)
print(type(num1),type(num2),type(num3),type(num4),type(num5))

1.3 2 1j 1 2
<class 'float'> <class 'int'> <class 'complex'> <class 'int'> <class 'int'>

In [27]:
#Exercise -22

# to convert a number to string we can use str() function this is called casting

# cast num1 to string and assign to num1_str
# check the length of the string
# get the third element of string (the one in the 3rd order)
# get the 3-5 elements of string (both inclusive) by string slicing
# check if num2 in string (cast if necessary)
# check if num3 in string (cast if necessary)
# concatenate 0 to the string from left and assign to string_with_0
# get the characters of string_with_0 from start to position 4 (end point exclusive)
# get the characters of string_with_0 from position 5 until the end
# use negative indexing to reach the "567" string_with_0


num1 = 1122334455666
num1_str = str(num1)
num1_str

len(num1_str)

num1_str[2:3]

num1_str[3:6]

if '2' in num1_str:
    print('its true')
    
if '3' in num1_str:
    print('its true')
    
    
string_with_0 = '0' + num1_str
string_with_0

string_with_0[0:4]
string_with_0[5:13]
string_with_0[-4:-1]

its true
its true

'566'

In [28]:
#Exercise -23

# print if num1 or num2 is greater 

num1 = 335
num2 = 66

if num1 > num2:
    print(f"{num1} is greater than {num2}")
else:
    print(f"{num1} is not greater than {num2}")

335 is greater than 66

In [29]:
#Exercise -24

#check if number1 is greater than number 2 and print number1 is greater than number2
#check and if number 2 is greater than number 1 and print number2 is greater than number1
#finally at the end if both conditions incorrect print number2 equals to number1

number1 = 66
number2 = 66

if number1 > number2:
    print(f"{number1} is greater than {number2}") 
elif number2 > number1:
    print(f"{number2} is greater than {number1}")
else : 
    print(f"{number2} is equals to {number1}")

66 is equals to 66

In [30]:
#Exercise -25
#Compare those 2 numbers and write X greater than Y But be sure you are making the check for all the conditions

import random

number1 = random.randint(1,100)
number2 = random.randint(1,100)


if number1 > number2:
    if number1 == number2:
        print("It is equal")
    if  number1 >= number2:
        print("It is greater than or equal")
    if  number1 <= number2:
        print("It is less than or equal")
    if  number1 != number2:
        print("It is not equal")
else:
    print(f"{number1} is lesser than {number2}")

54 is lesser than 84

In [31]:
#Exercise -26


import random

number1 = random.randint(-100,100)
number2 = random.randint(-100,100)

if abs(number1) > abs(number2):
    if abs(number1) == abs(number2):
        print("It is equal")
    if abs(number1) >= abs(number2):
        print("It is greater than or equal")
    if abs(number1) <= abs(number2):
        print("It is less than or equal")
    if abs(number1) != abs(number2):
        print("It is not equal")
else:
    print(f"{abs(number1)} is lesser than {abs(number2)}")

3 is lesser than 21

In [32]:
# absoulte value 
number1 = -55
number2 = 77


if abs(number1) > abs(number2):
    print("greater")
elif abs(number1) == abs(number2):
    print("its equal")
else:
    print(f"{abs(number1)} is lesser than {abs(number2)}")

55 is lesser than 77

In [46]:
"""Write a program that: take a string in keyboard input,representing a 
nucleotide (A, C, G, T) print the complementary nucleotide on screen  Make sure the program works
correctly with both uppercase and lowercase
A-T and C-G"""

nucleotide = input()
if nucleotide == ("A","a"):
    print("nucleotide T")
if nucleotide == "T":
    print("nucleotide A")
if nucleotide == "C":
    print("nucleotide G")
if nucleotide == "G":
    print("nucleotide C")

C
nucleotide G

# Loops,Lists,functions, Classes n Objects


# Exercise 1

In [1]:
"""Create ` * **

` this shape with print and while loop statements"""

i = 0
while i < 6:
    if i == 0 or i ==3:
        print("`")
    else:
        print("*"* i,end=(" "))
    i +=1

`
* ** `
**** *****

# Exercise 2

In [1]:
"""Create

*
***
*****
this shape with print, for loop, if and continue statements"""

for i in range(6):
    if i % 2 == 0:
        continue
    print("*" * i)

*
***
*****

# Exercise 3

In [4]:
'''Check if it is time for "coffee break" if it is just break
To do that lets iterate through given list don't change the "COFFEE BREAK" statement.
just find another way to do it'''

#todo = ["exercise1", "exercise2", "exercise3","coffee break" ,"exercise4","exercise5","exercise6"]
#for x in todo:
#    if x._ == "COFFEE BREAK":
#        print(x)
#        break
        
        
        
To_do = ["class","class2","COFFE_BREAK","class3"]
for break1 in range(len(To_do)):
    if To_do[break1] == "COFFE_BREAK":
        print("its a break")
        break

its a break

# Exercise 4

In [5]:
"""Iterate each elements of 'list1,tuple1,set1' and print them out
For the 'dict1' iterate all elements but only print the ones who are living on land in the form of 'x lives in y' """

list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":"land", "monkey":"land", "dog":"land","fish":"water"}

for list_1 in range(len(list1)):
    
    print(type(list1),list1[list_1], end=(" "))
    
print(" ")
    
for tuple_1 in range(len(tuple1)):
    
    print(type(tuple1),tuple1[tuple_1], end=(" "))
print(" ")

    
for set_1 in set1:
    
    
    print(type(set1),set_1, end=(" "))

print(" ")
for dict_1 in dict1:
    if dict1[dict_1] == "land":
        print("--dict_keys  -----> ",dict_1,end=(""))

<class 'list'> lion <class 'list'> monkey <class 'list'> dog <class 'list'> fish
<class 'tuple'> lion <class 'tuple'> monkey <class 'tuple'> dog <class 'tuple'> fish
<class 'set'> monkey <class 'set'> dog <class 'set'> lion <class 'set'> fish
--dict_keys  ----->  lion--dict_keys  ----->  monkey--dict_keys  ----->  dog

# Exercise 5

In [7]:
"""Remember list,set,dictionary are mutable and tuple is immutable list,tuple elements can be reached by index
 for dictionary it is not an option to reach by index the element key has to be known to reach
and for set the items cannot be reached directly but it is possible to iterate."""

""" 1.print the lengths of list1,tuple1,set1,dict1
 2.print the first element of list1 and tuple1
 3.print the value of lion key of dict1
 4.change the 2nd position element of list1 to "rabbit"
 5.try to change the 2nd position element of the tuple to "rabbit" and explain what happened.
 6.add "monkey" to list1
 7.remove "rabbit" from list1
 8.in dict1 the number of feet is written as value to each animal the fixh has wrong value just fix it."""

list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":4, "monkey":2, "dog":4,"fish":2}

print("1 :",len(list1),len(tuple1),len(set1),len(dict1))
print("2 : ", list1[0],tuple1[0])
print("3 :" , dict1["lion"])
list1[1] ="rabbit"
print("4 :", list1)
try:
    tuple1[1]="rabbit"
except:
    print("5 : cannot update because it is immutable" )

list1.append("monkey")    
print("6 : ", list1)

list1.remove("rabbit")
print("7 :", list1)

dict1["fish"] = 0
print("8 :" , dict1)

1 : 4 4 4 4
2 :  lion lion
3 : 4
4 : ['lion', 'rabbit', 'dog', 'fish']
5 : cannot update because it is immutable
6 :  ['lion', 'rabbit', 'dog', 'fish', 'monkey']
7 : ['lion', 'dog', 'fish', 'monkey']
8 : {'lion': 4, 'monkey': 2, 'dog': 4, 'fish': 0}

# Exercise 6

In [8]:
# To create functions in python we start with def word and after it the name of function comes with without parameters example is here

# def hello():
#    print("hello")
# Now you create a function named goodbye without parameters which prints good bye

def goodbye():
    print("good bye")
goodbye()

good bye

# Exercise 7

In [9]:
# Inside the parenthesis variables can be used those variables as known as parameters of the function provides control inside the function example is here

# def hello(name):
#    print(f"hello {name}")
# Now you create a function named goodbye with a parameter name and say "Good bye Adam"

def gooodbye(name):
    print("good bye---->",name)
gooodbye("Ram")

good bye----> Ram

# Exercise 8

In [10]:
# Let's see what is your user name on your computer
# to do that we are going to use os module which is a built in module in python
# and has many built in functions in it

# to be able to use os functions
# import os then call getlogin method of the module
# then assign the output to user variable and print the user


import os
def user():
    return os.getlogin()
user()

'HP PC'

# Exercise 9

In [14]:
''' Now create a function for John Doe and his family that greets every one in the family.
Since it will usually John Doe the name and surname parameter must be defaulted
 and when someone else comes it has to greet the new comer with name surname parameters which were overwritten. Make it possible.
 The function have to print "Hello John Doe" where John and Doe is parametric
 Greet each our John first then the people in the list with for loop and the function
 What you have to use

 for loop
 function
 string operation
 list index
 Output format

 Hello John Doe!
 Hello Tristram Mcbride!
 Hello Baldwin Preston!
 Hello Wally Collins!'''


name = []
surname = []

def greet(name,surname):
    
    print("Hello :" ,name1,sur)
    
n = int(input( " number of people : "))
for i in range(0,n):
    count_name = input()
    count2_sur = input()
    name.append(count_name)
    surname.append(count2_sur)
    name1 = str(name[i])
    sur = str(surname[i])
    
    greet(name1,sur)

 number of people : 5
John
Sen
Hello : John Sen
Ram
Kiran
Hello : Ram Kiran
mahesh
pratik
Hello : mahesh pratik
brinda
vihari
Hello : brinda vihari
parmesh
kalyan
Hello : parmesh kalyan

# Exercise 10

In [13]:
''' Import random function
 Create a function random_list_summer creates n elemented list with min value = -100 max value = 100 it has to print the list first and sum all the elements of it default element number is 15
 Don't forget to call the function
 for some features and functions you might have to search on the internet do it don't lose your courage'''

import random

def  random_list_summer(n):
    rand_list = []
    for i in range(n):
        rand_list.append(random.randint(-100,100))
        
    return rand_list[0],sum(rand_list),rand_list


random_list_summer(15)

(4, 111, [4, 58, -64, -47, 97, -92, 60, 15, -19, 50, 89, -3, -33, -42, 38])

# Exercise 11

In [15]:
# Implement Fibonacci sequence as recursive function and print first 5 elements.


def fibo_val(n):
    if n <= 1:
        return n
    else:
        return(fibo_val(n-1) + fibo_val(n-2))
        


fibo = input("enter a fibonocci value : ") 
for i in range(int(fibo)):
    print(fibo_val(i))

enter a fibonocci value : 5
0
1
1
2
3

# Exercise 12

In [16]:
# Create a lambda function that returns 2nd power of given number if its even
# and run it on the given list
# then print the result to the screen

my_list= [*range(5)] 
def lam_fun(i):
    return lambda a : a ** i 
        

n = int(input("enter num of values : "))
list_1 = []
for i in range(n):
    if i%2 == 0:
        lam = lam_fun(n)
        list_1.append(lam(i))
print(list_1)

enter num of values : 8
[0, 256, 65536, 1679616]

# Exercise 13

In [2]:
# Let's create Animal class and then create the animal object that runs and having 4 legs

# create animal object with leg count when created print "Animal object was created"
# and then call runs method of it and it prints "Running started" 


class Animal( ):
    def __init__(self,leg_count):
        print("object is created ")
        self.leg_count = leg_count
    def run(self):
        print("started running")
        
animal = Animal(4)
animal.run()

object is created
started running

# Exercise 14

In [1]:
# Now continue with the Animal class we had used before

# Add a method to count the legs count_legs which prints the number of legs

# Add a method to count the legs return_legs which returns the number of legs

# print number of legs directly from number_of_legs variable of the object



"""class Animal:
    def __init__(self,legs_count):
        print("Animal object was created")
        self.number_of_legs = legs_count

    def runs(self):
        print("Running started")

    def count_legs(self):
        print(f"It has {self.number_of_legs}")"""

class Animal:
    def __init__(self,legs_count):
        print("Animal object was created")
        self.number_of_legs = legs_count

    def runs(self):
        print("Running started")

    def count_legs(self):
        print(f"It has {self.number_of_legs}")
    
    def return_legs(self):
        return self.number_of_legs

animal = Animal(4)
print(animal.runs())
print(animal.count_legs())
print(animal.return_legs())
print(animal.number_of_legs)

Animal object was created
Running started
None
It has 4
None
4
4

# Exercise 15

In [26]:
# Again let's keep talking on Animal class we have.
# with 3 methods we just reached the number of legs
# to prevent direct interacting with the class variables
# most of the other programming languages have encapsulation.
# But in python we don't have it instead we use _ prefix for it as convention
# it is also same for the methods

# _legs this shows us not to touch this variable its up to you if you want to change it you can but _ asks you politely not to do it.

# Change the number_of_legs to conventional private variable and call from another method



"""class Animal:
    def __init__(self,legs_count):
        print("Animal object was created")
        self.number_of_legs = legs_count

    def runs(self):
        print("Running started")

    def count_legs(self):
        print(f"It has {self.number_of_legs}")

    def return_legs(self):
        return self.number_of_legs
        
animal= Animal(4)
animal.count_legs()
print(animal.return_legs())
print(animal.number_of_legs)"""


class Animal:
    def __init__(self,legs_count):
        print("Animal object was created")
        self.number_of_legs = legs_count

    def runs(self):
        print("Running started")

    def count_legs(self):
        print(f"It has {self.number_of_legs}")
    
    def return_legs(self):
        return self.number_of_legs

animal = Animal(4)
print(animal.runs())
print(animal.count_legs())
print(animal.return_legs())
print(animal.number_of_legs)

Animal object was created
Running started
None
It has 4
None
4
4

# Exercise 16

In [27]:
# Let's inherit Dog class from Animal add name(private) attribute to Dog class and then bark method to print woof woof

# print name_of_dog make it bark count the legs

class Animal:
    def __init__(self,legs_count):
        print("Animal object was created")
        self._number_of_legs = legs_count

    def runs(self):
        print("Running started")

    def count_legs(self):
        print(f"It has {self._number_of_legs}")

    def return_legs(self):
        return self._number_of_legs
        
animal= Animal(4)
animal.count_legs()
print(animal.return_legs())
print(animal._number_of_legs)

class Animal:
    def __init__(self,legs_count):
        print("Animal object was created")
        self._number_of_legs = legs_count

    def runs(self):
        print("Running started")

    def count_legs(self):
        print(f"It has {self._number_of_legs}")

    def return_legs(self):
        return self._number_of_legs
class Dog(Animal):
    def __init__(self,name):
        Animal.__init__(self,4)
        self._name = name
        
    def bark(self):
            print("bow bow")
        
animal= Animal(4)
animal.count_legs()
print(animal.return_legs())
print(animal._number_of_legs)

dog = Dog("Alex")
dog.bark()

Animal object was created
It has 4
4
4
Animal object was created
It has 4
4
4
Animal object was created
bow bow

In [1]:
lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
  
print ("The Prime Numbers in the range are: ")  
for number in range (lower_value, upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Please, Enter the Lowest Range Value: 1
Please, Enter the Upper Range Value: 10
The Prime Numbers in the range are:
2
3
5
7